<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Banco NFS</title>
</head>
<body>
    <div style="position: center;">
        <h2>BANCO DE NOTAS FISCAIS</h2>
    </div>
    
    <p>{{name1}}</p>
    <form action="/" method="POST">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <input type="submit" value="procurar">
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th scope="col">Fornecedor</th>
            <th scope="col">Produto</th>
            <th scope="col">Nota fiscal</th>
        </thead>
        <tbody>
            {%for dado in dados%}
            <tr>
                <td> {{dado[1]}}</td>
                <td> {{dado[2]}}</td>
                <td> {{dado[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
    
</body>
</html>